<!DOCTYPE html>
<html>
  <head>
    <title>::::: Wooshin Machinery Co. :::::</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/reset.css' />
  </head>
  <body>
    <div id="wrap">
    <header id="header">
      <h1><img src="http://placehold.it/100x50" alt="우신기계"></h1>
      <nav id="nav">
        <div id="gnb">
          <p>Menu</p>         
        </div>
      </nav>
    </header>
    <div id="container">
      <section id="home">

      </section> <!-- ////////////home -->
      
      <div class="inner-1180">
      
      <section id="adf-05">
        <h2>ADF-05</h2>
      </section> 
      <!-- ////////////adf-05 -->
      
      <section id="adf-06">
          <h2>ADF-06</h2>
      </section>
       <!-- ////////////adf-05 -->
      <section id="sadf-01">
          <h2>SADF-01</h2>
      </section>
       <!-- ////////////sadf-01 -->
      <section id="duck-down">
          <h2>오리털 압축장치</h2>
      </section>
       <!-- ////////////duck-down -->

       <section id="sadf-t1">
          <h2>SADF-T1</h2>
      </section>
       <!-- ////////////sadf-t1 -->
      <section id="sadf-t1-2">
          <h2>SADF-T1(이불용)</h2>
      </section>
       <!-- ////////////sadf-t1-2 -->
      </div>
      
      <ul id="paging">
          <li><a href="#home">HOME</a></li>
          <li><a href="#adf-05">ADF-05</a></li>
          <li><a href="#adf-06">ADF-06</a></li>
          <li><a href="#sadf-01">SADF-01</a></li>
          <li><a href="#duck-down">오리털압축장치</a></li>
          <li><a href="#sadf-t1">SADF-T1</a></li>
          <li><a href="#sadf-t1-2">SADF-T1(이불용)</a></li>
        </ul>
    </div>
  </div>
  </body>
</html>
